.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
}
.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  list-style-type: none;
  margin-right: 10px;
  color: #777;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.method {
  text-align: left;
  line-height: 1.5em;
}

/* dark mode */
.recipe.dark {
  background: #555;
}
.recipe.dark h2,
.recipe.dark p,
.recipe.dark ul {
  color: #e4e4e4;
}
.recipe button {
  color: #555;
  text-decoration: none;
  display: block;
  background: #e2e2e2;
  font-size: 0.9em;
  width: 100px;
  text-align: center;
  width: 120px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 20px auto 0;
}
